.NavBar{
  text-align: center;
  color:white;
  background-color: #031F42;
}

a {
  color:white
}

.starship-list-container {
  display: inline-flex;
  background-color: #033D42;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
  height: 100px;
  width: 300px;
}
.starship-details-container{
  border: 1px solid #033D42;
  background-color: #033D42;
  position: relative;
  color: white;
  width: 400px;
  margin: 150px;
}
.return-link {
  color:white
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
